QTextEdit {
    background-color: #202020;
    color: white;
}

QMenuBar {
    background-color: #222;
    color: white;
}

#suggestionBox {
    background-color: #333;
    padding: 0px;
}

QLabel {
    font: Consolas;
    color: white;
    padding: 0px;
    margin: 0px;
}